html {
  height: 100%;
}
html body {
  height: 100%;
}
html body .main-row {
  height: 100%;
}
html body .main-row .col-comments {
  height: 100%;
}
#game-canvas {
  height: 100%;
  max-width: 100%;
  border-left: 5px solid red;
  border-right: 5px solid blue;
}
.game-canvas-box {
  max-width: 100%;
  height: 100%;
  text-align: center;
}
.comment-box {
  height: 100%;
  background: white;
  border-left: 2px solid blue;
  padding-left: 5px;
}
.comment-box .comments {
  height: calc(100% - 80px);
  overflow: auto;
}
.comment-box .comments ul {
  list-style: none;
  padding: 0px;
}
.comment-box .comments ul li {
  padding: 5px;
  font-size: 18px;
}
.comment-box .comments ul li .player-says {
  color: #666;
}
.comment-box .form {
  height: 50px;
  overflow: hidden;
}
.comment-box .form textarea {
  height: 100%;
  width: calc(100% - 120px);
  display: inline-block;
}
.comment-box .form .btn {
  display: inline-block;
  height: 100%;
  width: 110px;
  position: relative;
  top: -21px;
}
